* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #c29359;
}

h2 {
    padding: 0 80px;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    color: white;
}

.game {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
    flex-direction: row;
}

img {
    height: 250px;
    width: 250px;

}

.rock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;

}

#rockBtn {
    background-color: #b38854;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    color: #fff;
}

.paper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#paperBtn {
    background-color: #b38854;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    color: #fff;
}

.scissors {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#scissorsBtn {
    background-color: #b38854;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    color: #fff;
}

#resultDisplay {
    top: 0;
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

#currentScore {
    margin-top: 10px;
    display: flex;
    color: #fff;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}